configuration {
    modi: "drun,run";
    show-match: "drun";
    font: "JetBrains Mono Bold 8"; 
    show-icons: false;
    icon-theme: "Papirus"; 
    terminal: "alacritty";
    location: 0;
    disable-history: false;
    hide-scrollbar: false;    

    display-drun: "   Apps ";
    display-run: "   Run ";
    
    hover-select: true;
    sidebar-mode: false;
}

window {
    location: center;
    anchor:   center;
    width:    300px; 
    border:   0;
    border-radius: 12px;
    border-color: #e0e0e0;
    background-color: #ffffff;
  }

  mainbox {
    background-color: transparent;
    children: [ inputbar, listview ];
  }

  inputbar {
    background-color: #f2f2f2;
    padding: 8px;
    children: [ prompt, entry ];
  }

  prompt {
    text-color: #222222;
    background-color: transparent;
    margin: 0px 4px 0px 0px;
  }

  entry {
    text-color: #222222;
    background-color: transparent;
  }

  listview {
    background-color: transparent;
    lines: 14;
    columns: 1;
    fixed-height: true;
    scrollbar: false;
    padding: 4px 0px;
  }

  element {
    padding: 6px 12px;
    background-color: transparent;
  }

  element-text {
    text-color: #444444;
    background-color: transparent;
  }

  element selected {
    background-color: #e0e0e0;
  }

  element-text selected {
    text-color: #000000;
  }
